<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: sans-serif;
            font-size: 2em;
            text-align: center;
        }


        #masscot {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <h1>Hello World</h1>
    <img id="masscot" type = "button" src="https://www.goodfreephotos.com/albums/other-photos/smiley-face-basic.jpg" onclick="window.location.href = '/signup' ; " class="button">
    <h2>Welcome to #health, the best place for you to receive quick aid for minor problems</h2>
    <p>A bit about us.</p>
    <button id="Enter" type="button" onclick="window.location.href = '/signup' ; " class="button">Enter</button>
</body>
</html>

    <button type="button" onclick="alert('sign up')">Click Me!</button>
</body>
</html>

